#hero{
    background-image: url(../images/person-transparent-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    height: 100vh;
    min-height: 700px;
    position: relative;
    .box-shadow-content{
        .block-heading-1{
            span{
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: .1em;
                font-weight: bold;
                color: #b8b8b8;
                margin-bottom: 16px;
            }
            h1{
                font-size: 32px;
                color: $theme-color;
                line-height: 1;
                margin-bottom: 20px;
            }
        }
        p{
            font-size: 18px;
            color: #999999;
            max-width: 400px;
            margin-bottom: 20px;
        }
        .btn{
            color: $white;
            padding: 20px;
            background-color: $theme-color !important;
            border-color: $theme-color !important;
            border-radius: 5px;
            &:focus{
                box-shadow: none;
                outline: 0;
            }
        }
    }
}