<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script defer src="https://friconix.com/cdn/friconix.js"> </script>

    <title>Toothsy</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

    <section id="hero">
        <div class="container">
            <div class="row align-items-center" style="min-height: 800px;">
                <div class="col-lg-5">
                    <div class="box-shadow-content">
                        <div class="block-heading-1">
                            <span class="d-block mb-3 aos-init aos-animate" data-aos="fade-up">Welcome To Toothsy</span>
                            <h1 class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">We Care For Your Smile</h1>
                        </div>
                        <p class="mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Amet quod modi, eius minus hic illum perspiciatis! Voluptate facere tempore,
                            libero enim fugit, temporibus non dolor nostrum iure ad. Dolorem, explicabo!</p>
                        <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a href="#"
                                class="btn btn-primary text-white py-3 px-5">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 box-space">
                    <div class="block-heading">
                        <span>All Kind Of Services</span>
                        <h2>Dental Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fab fa-fonticons-fi"></i>
                        </span>
                        <h2 class="text-black">Tooth Extraction</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fi-ctsuxl-tooth-thin"></i>
                        </span>
                        <h2 class="text-black">Tooth Fillings</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fi-xnsuxl-tooth-solid"></i>
                        </span>
                        <h2 class="text-black">Braces Install</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fi-xnsuxl-tooth-solid"></i>
                        </span>
                        <h2 class="text-black">Children Clinic</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fi-xnsuxl-tooth-solid"></i>
                        </span>
                        <h2 class="text-black">Tooth Cleaning</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 aos-init aos-animate box-space">
                    <div class="block-feature">
                        <span class="icon">
                            <i class="fi-cnsuhl-tooth"></i>
                        </span>
                        <h2 class="text-black">Patient Records</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum suscipit quo quae</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                    <div class="block-counter">
                        <span class="number"><span data-number="8">8</span>+</span>
                        <span class="caption">Year of Experience</span>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                    <div class="block-counter">
                        <span class="number"><span data-number="15">15</span>+</span>
                        <span class="caption">Expert Doctors</span>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                    <div class="block-counter">
                        <span class="number"><span data-number="320">320</span>+</span>
                        <span class="caption">Health Sections</span>
                    </div>
                </div>
                <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
                    <div class="block-counter">
                        <span class="number"><span data-number="1500">1,500</span>+</span>
                        <span class="caption">Happy Smiles</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 block-heading">
                    <span>Expert Doctors</span>
                    <h2>Meet Our Team</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 aos-init aos-animate">
                    <div class="block-team-member text-center rounded">
                        <div class="space">
                            <img src="images/doc_person_1.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="font-size-20 text-black">Bob Carry</h3>
                        <span class="d-block letter-spacing text-uppercase mb-3">Doctor</span>
                        <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, repellat. At, soluta.
                            Repellendus vero, consequuntur!</p>
                        <div class="block-social">
                            <a href="#" class="btn rounded"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 aos-init aos-animate">
                    <div class="block-team-member text-center rounded">
                        <div class="space">
                            <img src="images/doc_person_2.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="font-size-20 text-black">Jean Smith</h3>
                        <span class="d-block letter-spacing text-uppercase mb-3">Doctor</span>
                        <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil quia veritatis, nam quam obcaecati fuga.</p>
                        <div class="block-social">
                            <a href="#" class="btn rounded"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 aos-init aos-animate">
                    <div class="block-team-member text-center rounded">
                        <div class="space">
                            <img src="images/doc_person_3.jpg" alt="Image" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="font-size-20 text-black">Ricky Fisher</h3>
                        <span class="d-block letter-spacing text-uppercase mb-3">Dentist</span>
                        <p class="px-3 mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem, laudantium, illum minus numquam voluptas?</p>
                        <div class="block-social">
                            <a href="#" class="btn rounded"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="btn rounded"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 block-heading">
                    <span>Happy Client Says</span>
                    <h2>Testimonial</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="block-testimony text-center">
                        <div class="testimonial-text mb-4">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fugit excepturi sapiente voluptatum nulla
                                odio quaerat quibusdam tempore similique doloremque veritatis et cupiditate, maiores cumque repudiandae
                                explicabo tempora deserunt consequuntur?”</p>
                        </div>
                        <div class="testimonial-img">
                            <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </div>
                        <h3 class="text-black">Ricky Fisher</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="block-testimony text-center">
                        <div class="testimonial-text mb-4">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fugit excepturi sapiente voluptatum
                                nulla
                                odio quaerat quibusdam tempore similique doloremque veritatis et cupiditate, maiores cumque repudiandae
                                explicabo tempora deserunt consequuntur?”</p>
                        </div>
                        <div class="testimonial-img">
                            <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </div>
                        <h3 class="text-black">Ken Davis</h3>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                    <div class="block-testimony text-center">
                        <div class="testimonial-text mb-4">
                            <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, fugit excepturi sapiente voluptatum
                                nulla
                                odio quaerat quibusdam tempore similique doloremque veritatis et cupiditate, maiores cumque repudiandae
                                explicabo tempora deserunt consequuntur?”</p>
                        </div>
                        <div class="testimonial-img">
                            <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                        </div>
                        <h3 class="text-black">Mellisa Griffin</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 block-heading text-center">
                    <span>Latest BLog Posts</span>
                    <h2>Our Blog</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog-img">
                        <a href="#" class="mb-4 d-block"><img src="images/img-video-1.jpg" alt="Image"
                                class="img-fluid rounded"></a>
                        <h2><a href="#">Every Smile Is Precious</a></h2>
                        <p class="text-muted mb-3 text-uppercase small text-date"><span class="mr-2">January 18, 2019</span> By <a
                                href="#" class="by">James Cooper</a></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat et suscipit iste libero neque. Vitae quidem
                            ducimus voluptatibus nemo cum odio ab enim nisi, itaque, libero fuga veritatis culpa quis!</p>
                        <p class="text-read"><a href="#">Read More</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="post-entry mb-4">
                        <h2><a href="#">Consectetur adipisicing elit veritatis culpa</a></h2>
                        <p class="text-muted text-uppercase small text-date"><span class="mr-2">January 18, 2019</span> by <a href="#"
                                class="by">James Cooper</a></p>
                    </div>
                    <div class="post-entry mb-4">
                        <h2><a href="#">Consectetur adipisicing elit veritatis culpa</a></h2>
                        <p class="text-muted text-uppercase small text-date"><span class="mr-2">January 18, 2019</span> by <a href="#"
                                class="by">James Cooper</a></p>
                    </div>
                    <div class="post-entry mb-4">
                        <h2><a href="#">Consectetur adipisicing elit veritatis culpa</a></h2>
                        <p class="text-muted text-uppercase small text-date"><span class="mr-2">January 18, 2019</span> by <a href="#"
                                class="by">James Cooper</a></p>
                    </div>
                    <div class="post-entry mb-4">
                        <h2><a href="#">Consectetur adipisicing elit veritatis culpa</a></h2>
                        <p class="text-muted text-uppercase small text-date"><span class="mr-2">January 18, 2019</span> by <a href="#"
                                class="by">James Cooper</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 block-heading text-center">
                    <span>Get In Touch</span>
                    <h2>Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-5 form-contact">
                    <form action="#" method="post">
                        <div class="form-group row">
                            <div class="col-md-6 mb-4 mb-lg-0">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Email address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30"
                                    rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 ml-auto">
                                <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 ml-auto contact-text">
                    <h2 class="text-black">Need a call for presentation?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, distinctio! Harum quibusdam nisi, illum nulla
                        aspernatur aut quidem aperiam, quae non tempora recusandae voluptatibus
                        fugit impedit.</p>
                </div>
            </div>
        </div>
    </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() >= 0) {
                $('nav').addClass('fixed-header');
            }
            else {
                $('nav').removeClass('fixed-header');
            }
        });

    </script>
</body>

</html>