<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5">
                        <h2 class="footer-heading mb-4">About Us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam
                            voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-4 ml-auto">
                <div class="mb-5">
                    <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
                    <form action="#" method="post">
                        <div class="input-group mb-3 border-radius">
                            <input type="text" class="form-control text-white" placeholder="Enter Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button"
                                    id="button-addon2">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="smoothscroll pl-0 pr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="pl-3 pr-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="pl-3 pr-3"><i class="fab fa-instagram"></i></a>
                <a href="#" class="pl-3 pr-3"><i class="fab fa-linkedin"></i></a>

            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        Copyright © 2020 All rights reserved | This template is made with
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="single-footer-widget col-lg-12 col-md-12 m-auto">
                <ul class="social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                </ul>
                <div class="text-center">
                    <p>Copyright © 2084 Company Name</p>
                </div>
            </div>
        </div>
    </div>
</footer> -->